* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-nav: #040440;
  --bg-hover: #2d2d69;
  --link: #007bff;
  --text-light: #8f95b2;
  --text: #222222;
  --bg: #f5f6f8;
}
#root {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  background: var(--bg);
  color: var(--text);
  height: 100vh;
  width: 100vw;
}
.main-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.flex-grow {
  flex-grow: 1;
}
.main-body {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 32px;
  padding: 32px;
}
header {
  display: flex;
}
.upper-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.upper-section > div {
  padding: 16px;
  border-radius: 16px;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  place-content: center;
  gap: 8px;
  width: 100%;
  height: 150px;
  background: #fff;
}
.upper-icon {
  overflow: visible;
  padding: 12px;
  border-radius: 100%;
  height: 60px;
  width: 60px;
}
.earning {
  background-color: #e3fff0;
  color: #00ac4e;
}
.orders {
  color: #a002ff;
  background-color: #e7dbff;
}
.balance {
  color: #0a5bc0;
  background-color: #ccf2ff;
}
.total-sales {
  color: #d90012;
  background-color: #febce0;
}
